*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




#headertop{
    background-color: rgb(171, 171, 171);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    font-size: 1.3rem;  
    height: 2rem;
}
#headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding: 1rem;
    margin: 0 auto;
}
#headerbottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
   
}

#headerbottom{
     padding: 1rem 0;
     border-bottom: 1px solid rgb(135, 134, 134);
}

#logoimage{
    width: 2.5rem;
}
.headerleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}
.headerright{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.headerlink{
    position: relative;
}
.count{
    font-size: 1rem;
    background-color: orange;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    translate: 40% -30%;
}
#menubutton{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}
#languageselect{
 display: none;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */

}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
   #headertop .container{
    justify-content: space-between;
   }
    #languageselect{
        display:flex ;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
  }
    #flag{
    width: 1.25rem;
  }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
    #menubutton{
        display: none;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}